name: Publish snapshot to GitHub Packages
on:
  push:
    branches: [ master, main ]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        distribution: [ "temurin" ]
        java: [ "21" ]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          submodules: recursive
          fetch-depth: 0

      - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.java }}
          cache: 'maven'

      - name: Publish snapshot to GitHub Packages
        # Note: we are skipping tests here.
        run: ./mvnw --batch-mode -Dmaven.test.skip deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
